* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// TODO: flex
.flex {
  display: flex;
}
.flex-auto {
  flex: auto;
}
.flex-none {
  flex: none;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex1 {
  flex: 1;
}
.justify-center {
  justify-content: center;
}
.justify-right {
  justify-content: right;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.row-reverse {
  flex-direction: row-reverse;
}
.column-reverse {
  flex-direction: column-reverse;
}

//TODO: Position
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.absolute-t50 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.bold{
  font-weight: bold;
}
.auto {
  overflow: auto;
}
.hidden {
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}
.selectnone {
  user-select: none;
}
.border {
  border: 1px solid #e5e5e5;
}
each(range(10), {
    .top@{value} {
        top: (@value * 1px);
    }
    .right@{value} {
        right: (@value * 1px);
    }
    .left@{value} {
        left: (@value * 1px);
    }
    .bottom@{value} {
        bottom: (@value * 1px);
    }
    .percentw@{value} {
        width: (@value * 10%);
    }
    .percenth@{value} {
        height: (@value * 10%);
    }
});

//TODO: 布局
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}

//TODO: background
.bgc-white {
  background-color: white;
}
.bgc-ccc {
  background-color: #efefef;
}

//TODO: color
.white {
  color: white;
}
.black {
  color: black !important;
}
.blue {
  color: #2c96ff !important;
}
.red {
  color: red !important;
}
.gray {
  color: gray !important;
}

//TODO: 换行
.wrap {
  word-break:break-all
}

.pos-t50l50 {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


//TODO: radius
each(range(20), {
  .radius@{value} {
    border-radius: (@value * 2px);
  }
});
.radius50 {
  border-radius: 50%;
}

//TODO: padding and margin
each(range(50), {
  .fs@{value} {
    font-size: (@value * 1px);
  }
  .pr@{value} {
    padding-right: (@value * 1px);
  }
  .pl@{value} {
    padding-left: (@value * 1px);
  }
  .pt@{value} {
    padding-top: (@value * 1px);
  }
  .pb@{value} {
    padding-bottom: (@value * 1px);
  }
  .p@{value} {
    padding: (@value * 1px);
  }
  .px@{value} {
    padding-left: (@value * 1px);
    padding-right: (@value * 1px);
  }
  .py@{value} {
    padding-top: (@value * 1px);
    padding-bottom: (@value * 1px);
  }
  .mt@{value} {
    margin-top: (@value * 1px);
  }
  .mb@{value} {
    margin-bottom: (@value * 1px);
  }
  .mr@{value} {
    margin-right: (@value * 1px);
  }
  .ml@{value} {
    margin-left: (@value * 1px);
  }
  .m@{value} {
    margin: (@value * 1px);
  }
  .mx@{value} {
    margin-left: (@value * 1px);
    margin-right: (@value * 1px);
  }
  .my@{value} {
    margin-top: (@value * 1px);
    margin-bottom: (@value * 1px);
  }
});

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
}

.slowSpin {
  animation: spin 10s linear infinite;
}
