* {
  box-sizing: border-box;
}

// TODO: flex
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

//TODO: Position
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.absolute-t50 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.auto {
  overflow: auto;
}
.pointer {
  cursor: pointer;
}
.selectnone {
  user-select: none;
}
each(range(10), {
    .top@{value} {
        top: (@value * 1px);
    }
    .right@{value} {
        right: (@value * 1px);
    }
    .left@{value} {
        left: (@value * 1px);
    }
    .bottom@{value} {
        bottom: (@value * 1px);
    }
    .percentw@{value} {
        width: (@value * 10%);
    }
    .percenth@{value} {
        height: (@value * 10%);
    }
});

//TODO: 布局
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}

//TODO: background
.bgc-white {
  background-color: white;
}
.bgc-ccc {
  background-color: #efefef;
}

//TODO: color
.white {
  color: white;
}

//TODO: 换行
.wrap {
  word-break:break-all
}

//TODO: radius
each(range(20), {
  .radius@{value} {
    border-radius: (@value * 2px);
  }
});
.radius50 {
  border-radius: 50%;
}

//TODO: padding and margin
each(range(10), {
  .pr@{value} {
    padding-right: (@value * 2px);
  }
  .pl@{value} {
    padding-left: (@value * 2px);
  }
  .pt@{value} {
    padding-top: (@value * 2px);
  }
  .pb@{value} {
    padding-bottom: (@value * 2px);
  }
  .p@{value} {
    padding: (@value * 2px);
  }
  .mt@{value} {
    margin-top: (@value * 2px);
  }
  .mb@{value} {
    margin-bottom: (@value * 2px);
  }
  .mr@{value} {
    margin-right: (@value * 2px);
  }
  .ml@{value} {
    margin-left: (@value * 2px);
  }
  .m@{value} {
    margin: (@value * 2px);
  }
});
